<div class="img">
    <div class="container pt-3 pb-3">
        <div class="media postcolor border pr-2 pl-2 pb-2 pt-2 mb-3">
            
              <% if @post.user.image? %>
                  <a href="<%= user_path(@post.user_id) %>"><%= image_tag @post.user.image.thumb50.to_s,
                              class:"posticon mt-2 mr-2 ml-2 mb-2"%></a>
              <% else %>
                  <a href="<%= user_path(@post.user_id) %>"><%= image_tag("default.jpg", :size => "50x50", class:"posticon mt-2 mr-2 ml-2 mb-2")%></a>
              <%  end %>
          <div class="media-body">
            <div>
              <%= link_to @post.user.name, user_path(@post.user) %> <span class="text-muted">posted at <%= @post.created_at %></span>
            </div>
            <div class="mb-3">
              <%= simple_format(@post.content) %>
              <%=  link_to @post.image.url, 'data-lightbox': @post.image do %>
                <%= image_tag(@post.image.thumb300.to_s) if @post.image.present? %>
              <% end  %>
            </div>
            <div>
              <ul class="nav">
                <li class="nav-item mr-3"><%= render "likes/like", post: @post %><%= @post.like_ids.count %></li>
                <li class="nav-item mr-4">
                  <% if current_user == @post.user %>
                    <%= link_to  @post, method: :delete, data: { confirm: "投稿を消します。よろしいですか？" } do %>
                      <i class="fa fa-trash"></i>
                    <% end  %>
                  <% end %>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <%= form_with(model: [@post, @comment], local: true) do |f| %>
          <div class="form-group">
            <%= f.text_area :content, class: "form-control", rows: 1 %>
          </div>
          <%= f.submit 'コメントする', class: 'btn btn-primary btn-block mb-2' %>
        <% end %> 
        <ul class="list-unstyled">
          <p class="mt-5">コメント一覧</p>
          <div class="comments postcolor">
            <% @comments.each do |c| %>
              <li class="media border">
                <% unless c.user.blank? %>
                  <a href="<%= user_path(c.user_id) %>"><%= image_tag c.user.image.thumb50.to_s,
                      class:"posticon mt-2 mr-2 ml-2 mb-2"%></a>
                  <div  class="media-body">
                    <div>
                      <%= link_to c.user.name, user_path(c.user_id) %>
                    </div>
                <% else %>
                  <%#= image_tag("default.jpg", :size => "50x50", class:"rounded-circle posticon mt-2 mr-2 ml-2 mb-2")%></a>
                <% end %>      
                    <div>
                      <%= c.content %>
                    </div>
                  </div>
              </li>
            <% end %>
          </div>  
        </ul>
      
    </div>
</div>
